<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
  <!-- Overlay -->
  <div class="overlay"></div>

  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#bs-carousel" data-slide-to="1"></li>
    <li data-target="#bs-carousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item slides active">
      <div class="slide-1"></div>
      <div class="hero">
        <hgroup>
            <h1 style="color: #FFC400;">Unique Gift for Your friends</h1>
            <br>
            <h2 style="color: #d32f2f;">好玩的礼物</h2>
        </hgroup>
        <!-- <button class="btn btn-hero btn-lg" role="button">See all features</button> -->
      </div>
    </div>
    <div class="item slides">
      <div class="slide-2"></div>
      <div class="hero">
        <hgroup>
            <h1 style="color:#FFC400;">Unique Gift for Your family</h1>
            <br>
            <h2 style="color:#d32f2f;">独一无二的礼物</h2>
        </hgroup>
        <!-- <button class="btn btn-hero btn-lg" role="button">See all features</button> -->
      </div>
    </div>
    <div class="item slides">
      <div class="slide-3"></div>
      <div class="hero">
        <hgroup>
          <h1 style="color:#FFC400;">Unique Gift for You</h1>
            <!-- <h1>We are amazing</h1> -->
            <h2 style="color:#d32f2f;"></h2>
        </hgroup>
        <!-- <button class="btn btn-hero btn-lg" role="button">See all features</button> -->
      </div>
    </div>
  </div>
</div>

<!-- 紫色条 -->
<div class="banner">
	<ul class="banner-des text-center">
		<li><img src="https://ooo.0o0.ooo/2017/02/15/58a3c2e206cb6.png" alt="" />直连一线制造</li>
		<li><img src="https://ooo.0o0.ooo/2017/02/15/58a3c314cfe09.png" alt="" />7天无忧退换货</li>
		<li><img src="https://ooo.0o0.ooo/2017/02/15/58a3c333036b7.png" alt="" />平台先行赔付</li>
		<li><img src="https://ooo.0o0.ooo/2017/02/15/58a3c34eb223b.png" alt="" />全品类包邮</li>
		</ul>
</div>

<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<hr>
          <div class="col-lg-3">
    				<div class="cuadro_intro_hover " style="background-color:#cccccc;">
						<p style="text-align:center; margin-top:0px;">
							<img src="https://ooo.0o0.ooo/2017/02/15/58a416a2a6d94.jpg" class="img-responsive" alt="">
						</p>
						<div class="caption">
							<div class="blur"></div>
							<div class="caption-text">
								<h3 style="border-top:2px solid white; border-bottom:2px solid white; padding:10px;">智能奶瓶清洗机</h3>
								<p>母婴界的传奇神话, 分体透明设计，智能外观。</p>
								<a class=" btn btn-default" href="#"><span class="glyphicon glyphicon-plus">加入购物车</span></a>
							</div>
						</div>
					</div>

	    </div>
    <div class="col-lg-3">
    				<div class="cuadro_intro_hover " style="background-color:#cccccc;">
						<p style="text-align:center; margin-top:0px;">
							<img src="https://ww3.sinaimg.cn/large/006tNc79ly1fcrhz4ovpkj30rs0muarc.jpg" class="img-responsive" alt="">
						</p>
						<div class="caption">
							<div class="blur"></div>
							<div class="caption-text">
								<h3 style="border-top:2px solid white; border-bottom:2px solid white; padding:10px;">桌面鱼缸</h3>
								<p>生态循环，无需换水的鱼缸</p>
								<a class=" btn btn-default" href="#"><span class="glyphicon glyphicon-plus">加入购物车</span></a>
							</div>
						</div>
					</div>

	    </div>


        <div class="col-lg-3">
    				<div class="cuadro_intro_hover " style="background-color:#cccccc;">
						<p style="text-align:center; margin-top:0px;">
							<img src="https://ww1.sinaimg.cn/large/006tNc79ly1fcriaqnrnmj30rq0ommyn.jpg" class="img-responsive" alt="">
						</p>
						<div class="caption">
							<div class="blur"></div>
							<div class="caption-text">
								<h3 style="border-top:2px solid white; border-bottom:2px solid white; padding:10px;">果蔬机</h3>
								<p>采用核心“净芯”能很好的去处农药残留，水果打蜡等有害成分，去除率达到99%。</p>
								<a class=" btn btn-default" href="#"><span class="glyphicon glyphicon-plus">加入购物车</span></a>
							</div>
						</div>
					</div>

	    </div>

    <div class="col-lg-3">
    				<div class="cuadro_intro_hover " style="background-color:#cccccc;">
						<p style="text-align:center; margin-top:0px;">
							<img src="https://ww3.sinaimg.cn/large/006tNc79ly1fcriofbybtj30ww0o81kx.jpg" class="img-responsive" alt="">
						</p>
						<div class="caption">
							<div class="blur"></div>
							<div class="caption-text">
								<h3 style="border-top:2px solid white; border-bottom:2px solid white; padding:10px;">陪伴机器人</h3>
								<p>智能陪伴,运输轻巧物品。</p>
								<a class=" btn btn-default" href="#"><span class="glyphicon glyphicon-plus">加入购物车</span></a>
							</div>
						</div>
					</div>

	    </div>
<br>
<br>
<br>
      <div class="col-lg-3">
              <div class="cuadro_intro_hover " style="background-color:#cccccc;">
              <p style="text-align:center; margin-top:0px; margin-bottom:-5px;">
                <img src="https://ww4.sinaimg.cn/large/006tNc79ly1fcrj25v32gj30p00i4448.jpg" class="img-responsive" alt="">
              </p>
              <div class="caption">
                <div class="blur"></div>
                <div class="caption-text">
                  <h3 style="border-top:2px solid white; border-bottom:2px solid white; padding:10px;">虚拟现实眼镜</h3>
                  <p>广角低延迟的体验绝对让你身临其境</p>
                  <a class=" btn btn-default" href="#"><span class="glyphicon glyphicon-plus">加入购物车</span></a>
                </div>
              </div>
            </div>

        </div>

        <div class="col-lg-3">
        				<div class="cuadro_intro_hover " style="background-color:#cccccc;">
    						<p style="text-align:center; margin-top:0px; margin-bottom:-5px;">
    							<img src="https://ww1.sinaimg.cn/large/006tNc79ly1fcrjnsr7zfj30rs0l4dgy.jpg" class="img-responsive" alt="">
    						</p>
    						<div class="caption">
    							<div class="blur"></div>
    							<div class="caption-text">
    								<h3 style="border-top:2px solid white; border-bottom:2px solid white; padding:10px;">塔吉锅</h3>
    								<p>懒人必备锅具，熟的快。</p>
    								<a class=" btn btn-default" href="#"><span class="glyphicon glyphicon-plus">加入购物车</span></a>
    							</div>
    						</div>
    					</div>

    	    </div>


          <div class="col-lg-3">
                  <div class="cuadro_intro_hover " style="background-color:#cccccc;">
                  <p style="text-align:center; margin-top:0px;">
                    <img src="https://ww3.sinaimg.cn/large/006tNc79ly1fcrjrfmkozj30rq0lg1bk.jpg" class="img-responsive" alt="">
                  </p>
                  <div class="caption">
                    <div class="blur"></div>
                    <div class="caption-text">
                      <h3 style="border-top:2px solid white; border-bottom:2px solid white; padding:10px;">Cinnibird</h3>
                      <p>食物界的神笔马良。</p>
                      <a class=" btn btn-default" href="#"><span class="glyphicon glyphicon-plus">加入购物车</span></a>
                    </div>
                  </div>
                </div>

            </div>


            <div class="col-lg-3">
                    <div class="cuadro_intro_hover " style="background-color:#cccccc;">
                    <p style="text-align:center; margin-top:0px;">
                      <img src="https://ww3.sinaimg.cn/large/006tNc79ly1fcrjwo6hlyj30rs0kswxl.jpg" class="img-responsive" alt="">
                    </p>
                    <div class="caption">
                      <div class="blur"></div>
                      <div class="caption-text">
                        <h3 style="border-top:2px solid white; border-bottom:2px solid white; padding:10px;">3D立体灯</h3>
                        <p>拉风的造型，寿命长。</p>
                        <a class=" btn btn-default" href="#"><span class="glyphicon glyphicon-plus">加入购物车</span></a>
                      </div>
                    </div>
                  </div>

              </div>
