/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

.container-fluid {
    margin-right : auto;
    margin-left  : auto;
    padding-left : 0;
    padding-right: 0;
}

.navbar {
    border-radius: 0; //圆角为0
    position     : relative;
    min-height   : 30px;
    margin-bottom: 0;
    border       : 0 solid transparent;
}

.navbar-default {
    background-color   : #676659; //背景颜色
    border-color       : #E0E0E0; //边框色
    margin-bottom      : 0; //底部 margin 不撑开距离
    border-bottom-width: 0;
    border-radius      : 0;
}

.navbar-default .navbar-brand {
    color      : #f5f1eb; //字体颜色
    padding    : 10px 15px; //上下10px,左右15px
    line-height: 30px; //文字行高
    font-size  : 25px;
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
    color           : #FFA726; //鼠标放置在链接上的文字颜色
    background-color: transparent; //鼠标放置在链接上的背景颜色，这里设为透明
}

.navbar-brand > img {
    display     : inline-block; //图片和链接文字显示在同一行
    margin-right: 10px; //图片和链接文字拉开一点距离
    width       : 32px; //定制图片宽度
    height      : 32px; //定制图片高度
}

.navbar-brand1 > img {
    display     : inline-block; //图片和链接文字显示在同一行
    margin-right: 10px; //图片和链接文字拉开一点距离
    width       : 132px; //定制图片宽度
    height      : 42px; //定制图片高度
}

.navbar-default .navbar-nav > li > a {
    color    : #FFA726;
    font-size: 18px;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
    color           : #FF6F00;
    background-color: transparent;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    color           : #FF6F00;
    background-color: #FFE0B2;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
    background-color: #FFE0B2;
    color           : #FF6F00;
}

.navbar-right {
    margin-right: 0;
}

.jumbotron2 {
    // background-image: url('https://ooo.0o0.ooo/2017/01/22/58841ff3b9084.png');
    // background-repeat: no-repeat;
    background-size: cover;
    padding-top    : 250px; //内部的底部边距，这样按钮不会很靠近底部了
    padding-bottom : 100px; //内部的底部边距，这样按钮不会很靠近底部了
    margin-top     : 0; //顶部margin为0，因此可以直接接着导航栏；左右margin为负15，
    border-radius  : 0;
}

.jumbotron1 {
    display      : block;
    background   : #CFD8DC;
    // margin: 0 -15px -15px 0; //顶部margin为0，因此可以直接接着导航栏；左右margin为负15，因此可以顶到浏览器的边缘（抵消 container-fluid 的 15px 左右padding);底部margin为20，会跟下面的内容撑开距离
    border-radius: 0; //圆角为0
}

#qz-footer {
    height: 200px;
    // box-sizing: border-box;
    // position  : absolute;
    bottom: 0;
    width : 100%;
}

.footer-section {
    display   : block;
    width     : 100%;
    height    : 200px;
    background: rgba(222, 222, 188, 0.46);
    margin-top: 0;
    // position  : absolute;
    bottom    : 0;
}

.contact-line-block {
    float  : right;
    width  : 40%;
    padding: 50px 0 0;
}

.des-block {
    float  : right;
    width  : 60%;
    padding: 50px 0 0;
}

.column-block {
    text-align: center;
}

.column-left {
    width     : 33%;
    float     : left;
    text-align: center;
}

.column-center {
    width     : 33%;
    float     : left;
    text-align: center;
}

.column-right {
    width     : 33%;
    float     : left;
    text-align: center;
}

.footer-section .footer-content {
    display     : block;
    margin-left : auto;
    margin-right: auto;
    width       : 100%;
    padding     : 0;
    position    : relative;
    color       : #333;
}

.img-block {
    float: left;
    width: 58px;
}

.introduce {
    // width: 380px;
    padding-bottom: 50px;
    // padding-left: 50px;
}

.right-block {
    // width: 380px;
    color : #DEB887;
    margin: 0 20px;
}

.introduce-block {
    color     : #666;
    text-align: left;
    margin    : 0;
    float     : left;
    padding   : 10px 0 0 8px;
    width     : 328px;
}

.fline {
    padding-top  : 30px;
    width        : 100%;
    height       : 1px;
    border-bottom: 1px solid rgba(151,151,151,0.6);
    clear        : both;
}

.footer-content .copyright-block {
    width  : 100%;
    padding: 0;
    display: block;
    float  : bottom;
}

.jobs-search-form {
    margin-top   : 20px;
    margin-bottom: 15px;
    align-self   : center;
}

.searchform {
    position: relative;
    height  : 50px;
    width   : 540px;
    // min-height: 50px;
    margin  : 80px auto 0;
}

.searchbox {
    float  : auto;
    width  : 421px;
    height : 38px;
    padding: 9px 7px;
    font   : 16px arial;
    border : 1px solid #b8b8b8;
}

.searchbutton {
    float           : auto;
    background-color: #E65100;
    color           : #fff;
    font-weight     : bold;
    cursor          : pointer;
    width           : 86px;
    height          : 25px;
    border          : 1px solid #eea236;
    // border-color: #eea236;
    font-size       : 14px;
    font-family     : simsun;
}

html {
    height: 100%;
}
//

body {
    min-height: 100%;
    margin    : 0;
    padding   : 0;
    position  : relative;
}

#myCarousel .nav a small {
    display: block;
}

#myCarousel .nav {
    background: #eee;
}

#myCarousel .nav a {
    border-radius: 0;
}
//
// main {
//     padding-bottom: 200px;
// }
// /* main的padding-bottom值要等于或大于footer的height值 */
// footer {
//     position: absolute;
//     bottom  : 0;
//     width   : 100%;
//     height  : 100px;
// }
