.alert {
    padding      : 15px;
    /* margin-bottom: 20px; */
    border       : 1px solid transparent;
    border-radius: 4px;
}

.form-signin {
    max-width: 330px;
    padding  : 15px;
    margin   : 0 auto;
}

.form-signin .checkbox,
.form-signin .form-signin-heading {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position          : relative;
    font-size         : 16px;
    height            : auto;
    padding           : 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing   : border-box;
    box-sizing        : border-box;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="text"] {
    margin-bottom             : -1px;
    border-bottom-left-radius : 0;
    border-bottom-right-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom          : 10px;
    border-top-left-radius : 0;
    border-top-right-radius: 0;
}

.account-wall {
    margin-top        : 20px;
    padding           : 40px 0 20px;
    background-color  : #f7f7f7;
    -moz-box-shadow   : 0 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow        : 0 2px 2px rgba(0, 0, 0, 0.3);
}

.login-title {
    color      : #555;
    font-size  : 18px;
    font-weight: 400;
    display    : block;
}

.profile-img {
    width                : 96px;
    height               : 96px;
    margin               : 0 auto 10px;
    display              : block;
    -moz-border-radius   : 50%;
    -webkit-border-radius: 50%;
    border-radius        : 50%;
}

.need-help {
    margin-top: 10px;
}

.new-account {
    display   : block;
    margin-top: 10px;
}

#image {
    position        : relative;
    background-image: url("https://ww1.sinaimg.cn/large/006tKfTcly1fcqb9awoxwj30i009ojte.jpg");
    height          : 500px;
    // background-size : contain;
    background-size : cover;
    margin-top      : -20px;
    margin-bottom   : 0;
}

.deviseposition {
    margin-top: opx;
}
// q-welome分支

#myCarousel .nav a small {
    display: block;
}

#myCarousel .nav {
    background: #eee;
}

#myCarousel .nav a {
    border-radius: 0;
}
//紫色条

.carousel-inner > .item > a > img,
.carousel-inner > .item > img {
    display    : block;
    max-width  : 100%;
    height     : auto;
    line-height: 1;
    width      : 100%;
}

.banner-des {
    display   : block;
    max-width : 100%;
    height    : 69px;
    background: #fff;
    border-top: 1px solid #eeeeee;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    overflow  : hidden;
}

.banner-des li {
    float      : left;
    list-style : none;
    width      : 25%;
    height     : 69px;
    text-align : center;
    line-height: 69px;
    font-size  : 18px !important;
    color      : #523669;
}

ul {
    margin    : 0;
    padding   : 0;
    border    : 0;
    list-style: none;
    display   : block;
    font-size : 12px;
}
/*产品展示*/
.cuadro_intro_hover {
    padding : 0;
    position: relative;
    overflow: hidden;
    height  : 200px;
}

.cuadro_intro_hover:hover .caption {
    opacity          : 1;
    transform        : translateY(-150px);
    -webkit-transform: translateY(-150px);
    -moz-transform   : translateY(-150px);
    -ms-transform    : translateY(-150px);
    // -o-transform:translateY(-150px);
}
/*产品展示*/
.cuadro_intro_hover {
    padding : 0;
    position: relative;
    overflow: hidden;
    height  : 200px;
}

.cuadro_intro_hover:hover .caption {
    opacity          : 1;
    transform        : translateY(-150px);
    -webkit-transform: translateY(-150px);
    -moz-transform   : translateY(-150px);
    -ms-transform    : translateY(-150px);
    // -o-transform:translateY(-150px);
}

.cuadro_intro_hover img {
    z-index: 4;
}

.cuadro_intro_hover .caption {
    position          : absolute;
    top               : 150px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition   : all 0.3s ease-in-out;
    // -o-transition:all 0.3s ease-in-out;
    -ms-transition    : all 0.3s ease-in-out;
    transition        : all 0.3s ease-in-out;
    width             : 100%;
}

.cuadro_intro_hover .blur {
    background-color: rgba(0,0,0,0.7);
    height          : 300px;
    z-index         : 5;
    position        : absolute;
    width           : 100%;
}

.cuadro_intro_hover .caption-text {
    z-index   : 10;
    color     : #fff;
    position  : absolute;
    height    : 300px;
    text-align: center;
    top       : -20px;
    width     : 100%;
}

.thumb {
    height: 100;
    // width: 100%;
}
// .module-name{
//     // margin-top: 45px;
//     // margin-bottom: 30px;
//     color: #9b9b9b;
//     text-align: center;
//     font-size: 0;
// }

.module-name {
    margin-top   : 45px;
    margin-bottom: 30px;
    color        : rgba(0, 0, 0, 0.7);
    text-align   : center;
    font-size    : 0;
}

.module-name.decorative i {
    display       : inline-block;
    vertical-align: middle;
    width         : 95px;
    height        : 2px;
    background    : rgba(0, 0, 0, 0.7);
    margin-right  : 20px;
}

.module-name.decorative span {
    display       : inline-block;
    vertical-align: middle;
    font-size     : 18px;
}

.module-name.decorative span+i {
    margin-right: 0;
    margin-left : 18px;
}
