<%= simple_form_for([@product, @product.reviews.build]) do |f|%>

  <div class="field">
      <%= f.text_area :body, class: "form-control" %>
  </div>
 <br>
  <div class="reviews-form">
    <%= f.submit "Add a Review", class: "btn btn-primary pull-right" %>
  </div>
<% end %>
