

<!-- <footer id="qz-footer"> -->
  <footer>
  <!-- 回到顶端 -->
  <div id="gotop" ><i class="fa fa-arrow-up fa-3x aria-hidden="true"></i></div>
    <div class="footer-section">
        <div  class="contact-line-block">
            <div class="right-block">
                <div class="introduce">
                    <div class="img-block">
                        <a href="#" target="_blank" class="introduce"><img src = "/images/logo1.png"></a>
                    </div>
                    <div class="introduce-block">
                        <p> GiftFinder，礼物挑选神器<br />
                          为家人和朋友找到最中意的礼物。</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="des-block">
            <div class="column-block">
                <div class="column-left">
                    <ul class="list-unstyled">
                        <li class="column-title">关于我们</li>
                        <li><a href="#">公司介绍</a></li>
                        <li><a target="_blank" href="http://sophieqi-blog.logdown.com/">产品博客</a></li>
                        <li><a target="_blank" href="http://sophieqi-blog.logdown.com/">团队活动</a></li>
                    </ul>
                </div>
                <div class="column-center">
                    <ul class="list-unstyled">
                        <li class="column-title">获取支持</li>
                        <li><a href="#">服务条款</a></li>
                        <li><a target="_blank" href="http://rockyjia.logdown.com/">帮助文档</a></li>
                        <li><a target="_blank" href="http://rockyjia.logdown.com/">交流论坛</a></li>
                    </ul>
                </div>
                <div class="column-right">
                    <ul class="list-unstyled">
                        <li class="column-title">联系我们</li>
                        <li><a class="twitter" href="https://twitter.com/RockyJia" target="_blank"><img src = "/images/18-dark-twitter.png">Twitter</a></li>
                        <li><a class="instagram" href="https://www.instagram.com/rockyjia/" target="_blank"><img src = "/images/18-dark-instagram.png">Instagram</a></li>
                        <li><a class="facebook" href="https://www.facebook.com/rockyjia" target="_blank"><img src = "/images/18-dark-facebook.png">Facebook</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="fline"></div>
        <div class="footer-content copyright-block text-center">
            Copyright © 2017  All rights reserved.<br>
            Design by klpk011&rockyjia
        </div>

    </div>
</footer>
